#cardWrapper {
    max-width: 80%;
    max-height: 60%;
    margin: auto;
    margin-top: 2%;
    border: 1px solid green;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#cardWrapper .card{
    max-width: 15%;
}
#cardWrapper ul {
    list-style-type: none;
    padding: 0px;
}

#loader {
    width: 20%;
    margin: 0 auto;
}