*, body{
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: rgb(230, 230, 230);

  display: grid;
  grid-template-columns: 10% auto auto auto 10%;
  gap: 3%;
}

.navbar {
  grid-column: 1/6;
}

main{
  grid-column: 2/5;
}

footer {
  grid-column: 1/6;
}

.jobs-search-page-body {
  grid-column: 3/6;
}

.jobs-search-page-filters {
  grid-column: 1/3;
}