.jobs-search-page-body{
    min-height: 80vh;
}
.jobs-search-page-filters{
    margin-left: 10%;
}
.jobs-search-page-filters .card-header{
    cursor: pointer;
}
.jobs-search-page-body .card {
    max-width: 90%;
}